@use '@/shared/_variables' as *;
@use '@/shared/_media-queries' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 52px 52px 80px;
  background-color: #ebe5e0;
  gap: 80px;
  border-radius: 0 0 80px 80px;
  border: 0;
  z-index: 2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;

  .title {
    font-family: var(--font-museomoderno);
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.4px;
    color: $primary-800;
    margin: 0;

    @include mobile {
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -1.8px;
    }
  }

  .subtitle {
    font-family: var(--font-inter);
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1.2px;
    color: $primary-800;
    margin: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;

  @include mobile {
    max-width: 100vw;
  }

  .filters {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
    }

    .categoryButton {
      @include mobile {
        padding: 12px;
        border-radius: 8;
        width: 100%;

        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -5%;
        text-align: center;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @include mobile {
      display: flex;
      overflow-x: auto;
      width: 100%;
      max-width: 100%;
      padding: 0 32px;
    }
  }

  .productCard {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    padding: 12.93px 17.24px 17.24px;
    border-radius: 6.46px;
    gap: 8px;

    @include mobile {
      min-width: 256px;
      height: 415px;
      padding: 12.93px 17.24px 17.24px;
    }

    .badges {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .heart {
        border-radius: 50%;
        background-color: #a9a352;
        padding: 7.66px;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .discount {
        border-radius: 107.73px;
        background-color: #a9a352;
        padding: 8.62px;

        font-family: var(--font-museomoderno);
        font-weight: 400;
        font-size: 14.01px;
        line-height: 14.01px;
        letter-spacing: -0.7005px;
        text-align: center;
        color: #262618;
      }
    }

    .imageContainer {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      gap: 8px;

      .image {
        width: 100%;
        height: 100%;
        max-width: 223px;
        object-fit: cover;
      }

      .productName {
        font-family: var(--font-museomoderno);
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -1.2px;
        color: #44442a;
        text-align: center;
      }

      .price {
        font-family: var(--font-inter);
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0px;
        color: #44442a;
        margin: 0;
        text-align: center;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    .buttonCategory {
      @include mobile {
        width: 178px;
        max-width: initial;
      }
    }
  }
}
