@import '@/shared/variables';
@import '@/shared/_media-queries';

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 36px;
  border-radius: 24px;
  background: #ffffffb2;

  @include mobile {
    background: $color-white;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: -59px;
  }

  .logo {
    width: 112px;
    height: auto;
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .menuItem {
      font-family: var(--font-inter);
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0px;
      color: $primary-800;
    }

    @include mobile {
      display: none;
    }
  }

  .menuActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;

    .action {
      background: transparent;
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }
}
