@use '@/shared/_variables' as *;
@use '@/shared/_media-queries' as *;

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 36px;
  border-radius: 24px;
  background: #ffffffb2;
  position: relative;

  @include mobile {
    background: $color-white;
    border-radius: 0;
    position: absolute;
    justify-content: center;
    left: 0;
    top: -40px;
    padding: 8px 24px;
  }

  .logo {
    width: 112px;
    height: auto;

    @include mobile {
      width: 33px;
      height: 27px;
      position: absolute;
      align-self: center;
    }
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .menuItem {
      font-family: var(--font-inter);
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0px;
      color: $primary-800;
    }

    @include mobile {
      display: none;
    }
  }

  .menuActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;

    .action {
      background: transparent;
      cursor: pointer;
      width: 24px;
      height: 24px;
    }

    @include mobile {
      gap: 12px;
      margin-left: auto;
    }
  }
}

.menu {
  width: 24px;
  height: 24px;
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}

.hide-desktop {
  @include desktop {
    display: none;
  }
}
