.container {
  display: flex;
  flex-direction: column;
  background-color: #413f1f;
  background: linear-gradient(to bottom, #413f1f 0%, #868141 70%);
  margin-top: -80px;
  padding: 162px 0 0;
  width: 100%;
}
