//Defaults
$color-white: #FFFFFF;
$color-black: #000000;

//Primary
$primary-900: #14140B;
$primary-800: #262618;
$primary-700: #424228;
$primary-600: #65653F;
$primary-500: #848452;
$primary-400: #A1A168;
$primary-300: #B5B588;
$primary-200: #C8C8A7;
$primary-100: #DCDCC6;

//Secondary
$secondary-blue-900: #0F253D;
$secondary-blue-800: #203E60;
$secondary-blue-700: #36577D;
$secondary-blue-600: #4570A0;
$secondary-blue-500: #5F8ABA;
$secondary-blue-400: #82A4C9;
$secondary-blue-300: #A7BFD9;
$secondary-blue-200: #CAD8E8;
$secondary-blue-100: #EDF2F7;

$secondary-green-900: #1F1E0F;
$secondary-green-800: #413F1F;
$secondary-green-700: #646030;
$secondary-green-600: #868141;
$secondary-green-500: #A9A352;
$secondary-green-400: #BBB672;
$secondary-green-300: #CBC895;
$secondary-green-200: #DCDAB7;
$secondary-green-100: #EDECD9;

$secondary-red-900: #1B0F09;
$secondary-red-800: #412415;
$secondary-red-700: #683A22;
$secondary-red-600: #8E4F2E;
$secondary-red-500: #A96847;
$secondary-red-400: #BE8365;
$secondary-red-300: #C5A291;
$secondary-red-200: #D7BEB2;
$secondary-red-100: #E8DAD3;

//Neutrals
$neutral-900: #372F1A;
$neutral-800: #5A4D2B;
$neutral-700: #7C6A3B;
$neutral-600: #9F874C;
$neutral-500: #B6A067;
$neutral-400: #C7B68A;
$neutral-300: #D7CBAC;
$neutral-200: #E7E0CE;
$neutral-100: #F8F6F1;